<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mofluid\Mofluidapi2\Api\WishlistManagementInterface"
                type="Mofluid\Mofluidapi2\Model\WishlistManagement" />
    <preference for="Mofluid\Mofluidapi2\Api\ReviewInterface"
      type="Mofluid\Mofluidapi2\Model\ReviewManagement" />
</config>
